{% extends 'Home/home.html' %}
{% load static %}
{% block content %}
<body class="goto-here">
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_6.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">CHECKOUT</a></span> <span>PAYMENTS</span></p>
            <h1 class="mb-0 bread">PAYMENTS</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
    		<div class="row justify-content-center">
    			<div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Billing Address</h5>
                          <p class="card-text">{{order.full_name}}</p>
                          <p class="card-text">{{order.full_address}}</p>
                          <p class="card-text">{{order.city}},{{order.state}}</p>
                          <p class="card-text">{{order.country}}</p>
                          <p class="card-text">{{order.email}}</p>
                          <p class="card-text">{{order.phone}}</p>
                          {% if order.order_note %}
                          <b>Order note:</b> {{order.order_note}}
                          {% endif %}
                          <button type="button" class="btn btn-primary" data-mdb-ripple-init>Button</button>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Payment method</h5>
                          <p class="card-text">Payment</p>
                          <button type="button" class="btn btn-primary" data-mdb-ripple-init>Button</button>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Review products</h5>
                          <table class="table">
                            <thead class="thead-primary">
                              <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                              </tr>
                            </thead>
                            <tbody>
                                          {% for items in cart_items %} 
                              <tr class="text-center">
                                <td class="product-remove"><a href="{% url 'remove_cart_item' items.product.id %}"><span class="ion-ios-close"></span></a></td>
                                <td class="image-prod">
                                                <div class="aside">
                                                    <img src="{{ items.product.image.url }}" class="img-sm" style="width: 100px; height: auto;">
                                                </div>
                                            </td>
                                <td class="product-name">
                                  <h3>Young Woman Wearing Dress</h3>
                                  <p>Far far away, behind the word mountains, far from the countries</p>
                                </td>
                                
                                <td class="price">${{items.product.price}}</td>
                                
                                            <td> 
                                                <div class="col"> 
                                                    <div >
                                                        <span class="input-group-btn mr-2">
                                                           <a href="{% url 'decrease_item' items.product.id %}"><button type="button" class="quantity-left-minus btn"  data-type="minus" data-field="">
                                                            <i class="ion-ios-remove"></i>
                                                           </button>
                                                        </a>
                                                         </span>
                                                         <input type="text" class="form-control"  value="{{items.quantity}}">
                                                        <span class="input-group-btn ml-2">
                                                           <a href="{% url 'add_cart' items.product.id %}"><button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                                              <i class="ion-ios-add"></i>
                                                          </button>
                                                        </a>
                                                        </span>
                                                     </div>
            </div> <!-- col.// -->
                                                
                                            </td>   
                                
                                <td class="total">${{items.sub_total}}</td>
                              </tr><!-- END TR-->
                                          {% endfor %}
                            </tbody>
                          </table>
                        
                          <button type="button" class="btn btn-primary" data-mdb-ripple-init>Button</button>
                        </div>
                      </div>
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex">
    						<span>Subtotal</span>
    						<span>${{total}}</span>
    					</p>
    					<p class="d-flex">
    						<span>Tax</span>
    						<span>${{tax}}</span>
    					</p>
    					
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
    						<span>${{grand_total}}</span>
    					</p>
    				</div>
    				<div id="paypal-button-container"></div>
    			</div>
    		</div>
			</div>
		</section>

    

    
  </body>
{% endblock %}