{% extends "admin_panel/admin.html" %}
{% block "admin_content" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }

        .container-background {
            background-color: #f8f9fa; /* Set your desired background color */
            padding: 20px;
            border-radius: 10px; /* Optional: Add border radius for a rounded look */
        }
    </style>
</head>
<body>
    <div class="container container-background">
        {% if 'edit_Category' in request.path %}
        <h1>Edit Category</h1>
        {% else %}
        <h1>Add New Category</h1>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            {% if 'edit_Category' in request.path %}
            <button type="submit" class="btn btn-primary">Edit Category</button>
            {% else %}
            <button type="submit" class="btn btn-success">Add New Category</button>
            {% endif %}
        </form>
    </div>

    <!-- Add Bootstrap JS and Popper.js scripts (if needed) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}